apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: banking-backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: banking-backend
  template:
    metadata:
      labels:
        app: banking-backend
    spec:
      containers:
      - name: backend
        image: ghcr.io/dopegrammmerza/banking-system-front-end-backend:latest
        ports:
        - containerPort: 8000
        env:
        - name: PYTHONUNBUFFERED
          value: "1"
        - name: MONGODB_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: mongodb_url
        - name: MONGODB_DATABASE
          value: "bankingdb"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5