apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: banking-frontend
spec:
  type: LoadBalancer
  selector:
    app: banking-frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30080